.header {
    max-width: 1184px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 28px 48px 56px;
}

@media (max-width: 1024px) {
    .header {
      padding-bottom: 48px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 28px 24px 48px;
    }
}

@media (max-width: 320px) {
    .header {
        padding: 16px 16px 48px;
    }
}

@media (min-width: 1280px) {
    .header {
        width: 1184px;
        align-self: center;
    }
}