.top-sections {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

@media (max-width: 1024px) {
    .top-sections {
      max-width: 928px;
    }
}

@media (max-width: 768px) {
    .top-sections {
      width: 100vw;
    }
}